.Question {

  @include phone-grid;

  &__progress,
  &__label,
  &__image,
  &__radio {
    grid-column: span 4;
  }

  &__progress {

    @include phone-grid;

    &__numbers {
      grid-column: -2 / span 1;
    }

    &__back {
      grid-column: span 1;
    }

    &__back button {
      background: transparent;
      color: $mirage;
      padding: unset;
    }
  }

  &__button {
    grid-column: 2 / span 2;
    margin-top: 0.5rem;
    
    &__submit.-disabled {
      background-color: lighten($mirage, 60%);
    }
  }

	// Styling for Question #1
	&__label {

    @include phone-grid;

    label,
    input {
      margin-bottom: 0.5rem;
    }

    label {
      grid-column: span 4;
    }

    input {
      grid-column: 2 / span 2;
    }
	}

  &__radio {

    @include phone-grid;

    :first-child {
      grid-column: span 4;
    }
  }

	// Styling for Questions #2 and #3
	&__radio-item {
    grid-column: 2 / span 2;
		position: relative;	
	}	

  @include tablet-viewport {

    @include tablet-grid;

    &__progress,
    &__label,
    &__radio,
    &__image {
      grid-column: span 12;
    }

    &__radio-item input[type=radio] + label:before { 
      top: 0.45rem;
    }

    &__button {
      grid-column: 5 / span 4;
    }
  }

  @include desktop-viewport {

    &__label {
      
      @include desktop-grid;

      label {
        grid-column: span 12;
      }

      input {
        grid-column: 3 / span 8;
      }
    }

    &__radio-item input[type=radio] + label:before { 
      top: 0.25rem;
    }

    &__radio-item input[type=radio]:checked + label:after {
      top: calc(1.5rem / 2);
    }

    &__button {
      margin-top: 1rem;
    }
  }
}