.Question {

	// Styling for both type of questions
	&__progress__back {
		background: transparent;
		color: $mirage;
		padding: unset;
	}

	&__button.-disabled {
		background-color: lighten($mirage, 60%);
	}

	// Styling for Question #1
	&__label {
		text-align: center;
	}

	// Styling for Questions #2 and #3
	&__radio-item {
		position: relative;	
	}	
}