.Elaborating {
  width: 100vw;

	@include phone-grid;

  &__headline,
  &__image {
    grid-column: span 4;
  }

  &__headline {
    margin-bottom: 2rem;
    min-height: 2rem;
  }

  &__image {
    text-align: center;
  }

  &__spinner::after {

    @include findPostion(4rem, 4rem);

    animation: spinner 3s linear infinite;
    border: 0.5rem solid $mirage;
    border-color: $mirage transparent;
    border-radius: 50%;
    content: " ";
    display: block;
  }

  &__button {
    grid-column: 2 / span 2;
  }

  @include tablet-viewport {

    @include tablet-grid;

    &__headline,
    &__image {
      grid-column: span 12;
    }  

    &__button {
      grid-column: 5 / span 4;
    }

    &__spinner {
      grid-column: 6 / span 2;
    }
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
