.Modal {
  background: rgba(0,0,0,0.65);
  backdrop-filter: blur(0.5rem);
  height: 100%;
  position: fixed;
	top: 0;
	left: 0;
	transition: all .4s .2s ease-in-out;
  width: 100%;
  z-index: 1000;
}

.Results {

	@include phone-grid;
}

.Song {
	background: $white;
	border-radius: 0.5rem;
	position: fixed;
	z-index: 9999;
}