.Results {
	
  @include phone-grid;

  &__headline,
  &__subheadline,
  &__songs {
    grid-column: span 4;
  }

  &__subheadline {
    margin-bottom: 0.5rem;
  }

  &__songs {

    @include phone-grid;

    margin-bottom: 0.5rem;
    row-gap: 2rem;

    .Results__song {
      grid-column: span 2;

      &-title,
      &-artist {
        text-align: center;
      }
    }
  }

  &__back {
    grid-column: 2 / span 2;
  }

  @include tablet-viewport {

    &__headline,
    &__subheadline,
    &__songs {
      grid-column: span 12;
    }  

    &__songs {
      
      @include tablet-grid;

      margin-bottom: 1rem;

      .Results__song {
        grid-column: span 4;
      }
    }

    &__subheadline {
      margin-bottom: 1rem;
    }

    &__back {
      grid-column: 5 / span 4;
    }

    @include tablet-grid;
  }

  @include desktop-viewport {

    &__subheadline,
    &__songs {
      margin-bottom: 1.5rem;
    }

    &__songs {

      .Results__song {
        grid-column: span 3;
      }
    }
  }
}