.Modal {
  background: rgba(0,0,0,0.65);
  backdrop-filter: blur(3px);
  height: 100%;
  position: fixed;
	transition: all .4s .2s ease-in-out;
  width: 100%;
  z-index: 1000;
}

.Results {
	height: auto;
	padding-left: 0 !important;
	padding-right: 0 !important;

	&__headline,
	&__subheadline {
		margin-bottom: 20px;
	}
	
	&__songs {
		display: flex;
		list-style: none;
		flex-wrap: wrap;

		.Results__song {
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-bottom: 20px;
			width: 50%;
		}
	}
}

.Song {
	align-items: center;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	z-index: 9999;
	position: absolute;	
	background: white;
	top: 25vh;

	&__buttons {
		display: flex;
    flex-wrap: wrap;
    justify-content: center;

		.Song__play,
		.Song__stop {
			width: 50%;
		}
	}
}