// Vertical Spacing
$vertical-spacing: (
	xxs: 0.25rem,
	xs: 0.5rem,	
	s: 1rem,
	m: 1.5rem,
	l: 2rem,
	xl: 2.5rem,
	xxl: 3rem,
	xxxl: 3.5rem,
	super: 4rem,
	mega: 4.5rem,
	giga: 5rem,
	ultra: 5.5rem,
	hyper: 6rem
);

// Horizontal Spacing
@mixin base-grid {
	display: grid;
	gap: 2rem;
}

@mixin phone-grid {

	@include base-grid;

	grid-template-columns: repeat(4, 1fr);

	> * {
		grid-column: span 4;
	}
}

@mixin tablet-grid {

	@include base-grid;

	grid-template-columns: repeat(12, 1fr);

	> * {
		grid-column: span 12;
	}
}

@mixin desktop-grid {

	@include base-grid;

	grid-template-columns: repeat(12, 1fr);

	> * {
		grid-column: span 12;
	}
}