// Horizontal Spacing
@mixin base-grid {
	display: grid;
	column-gap: 2rem;
}

@mixin phone-grid {

	@include base-grid;

	grid-template-columns: repeat(4, 1fr);
}

@mixin tablet-grid {

	@include base-grid;

	grid-template-columns: repeat(12, 1fr);
}

@mixin desktop-grid {

	@include base-grid;

	grid-template-columns: repeat(12, 1fr);
}