$song-chosen-window-width--phone: 300px;
$song-chosen-window-height--phone: 350px;

$song-chosen-window-width--tablet: 400px;
$song-chosen-window-height--tablet: 500px;

$song-chosen-window-width--desktop: 500px;
$song-chosen-window-height--desktop: 550px;

@mixin findPostion($sizeX, $sizeY){
  height: $sizeX;
  left: calc((100vw - #{$sizeX}) / 2);
  top: calc((100vh - #{$sizeY}) / 2);
  width: $sizeY;
}

.SongChosen {

  @include phone-grid;

  @include findPostion($song-chosen-window-width--phone, $song-chosen-window-height--phone);

	background: $white;
	border-radius: 0.5rem;
	position: fixed;
	z-index: 9999;

  &__title,
  &__artist,
  &__buttons {
    grid-column: span 4;
  }

  &__title {
    margin: auto;
  }

  &__image {
    grid-column: 2 / span 2;
  }

  &__buttons {

    text-align: center;

    button:last-child {
      margin-left: 1rem;
    }
  }

  @include tablet-viewport {
    @include findPostion($song-chosen-window-width--tablet, $song-chosen-window-height--tablet);
  }

  @include desktop-viewport {
    @include findPostion($song-chosen-window-width--desktop, $song-chosen-window-height--desktop);
  }
}