.Intro {

  @include phone-grid;

  &__headline,
  &__image,
  &__subheadline,
  &__paragraph {
    grid-column: span 4;
  }

  &__button {
    grid-column: 2 / span 2;
  }

	&__headline span {
		background-size: 2rem;
    background-position-x: 0.25rem;
    background-position-y: 0.125rem;
		background-repeat: no-repeat;
		padding-left: 2rem;
	}
}