@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;700&display=swap');

/* General Reset */
* {
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
	height: 100%;
	max-width: 100%;
}

html {
	font-size: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
	display: none;							/* Chrome */
}	

body {
	background-color: #ececec;
	color: #131429;
	font-family: 'Poppins', sans-serif;
}

body {
  -ms-overflow-style: none;  	/* IE and Edge */
  scrollbar-width: none;  		/* Firefox */

	&.blocked {
		overflow-y: hidden;
	}
}

section {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20vw;
}

button {
	background-color: #131429;
	color: #ececec;
	border: 0;
	border-radius: 3px;
	font-family: 'Poppins', sans-serif;
	padding: 10px 20px;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 20px;
}

h1, h2, h3 {
	text-align: center;
}

div, p, input {
	font-size: 16px;
}

.App {
	display: flex;
	align-items: center;
	justify-content: center;
}